@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100vw;
    height: 60px;
    background-color: #409EFF;
    color: #fff;
    line-height: 60px;
}
.iscollapse {
    cursor: pointer;
}
.el-menu {
    box-sizing: border-box;
}
.menu-box {
    width: 300px;
    height: calc(100vh - 60px);
}
